[Unit]
Description=PYNQ RC System startup app
After=network.target

[Service]   
Type=simple
User=xilinx
WorkingDirectory=/home/xilinx/jupyter_notebooks/pynq-tag
ExecStart=/bin/bash -lc 'source /etc/profile.d/pynq_venv.sh && source /etc/profile.d/xrt_setup.sh && /usr/local/share/pynq-venv/bin/python3 -u /home/xilinx/jupyter_notebooks/pynq-tag/main.py'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target